.game-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto -20px; 
    color: #F0F0F0;
    margin-top: 10px;
    flex-direction: column; /* stack content vertically by default */
    text-align: center; /* center the text */
}

.game-status span {
    margin: 5px 0; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 90%; 
}

@media (min-width: 768px) {
    .game-status {
        flex-direction: row; 
    }
    
    .game-status span {
        margin: 0 10px; 
    }
}
