.button-container {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    gap: 15px;
  }
  
  .control-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .control-button:hover {
    background-color: #ddd;
  }
  