.game-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px; 
    color: #F0F0F0;
}

.game-status span {
    margin: 0 10px;
}
