.grid-size-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column; 
}

.grid-size-selector label {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.grid-size-selector input[type="range"] {
    width: 100%; 
    margin-top: 5px;
}

.grid-size-selector label, 
.grid-size-selector select,
.grid-size-selector button {
    margin: 5px;
}

@media (min-width: 768px) {
    .grid-size-selector {
        flex-direction: row; 
    }

    .grid-size-selector label {
        flex-direction: row; 
        align-items: center; 
    }
}
