.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #404040;
    border-radius: 0px;
    height: auto; 
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        height: 45px; 
    }
}

.nav, .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media (min-width: 768px) {
    .nav, .form-container {
        flex-direction: row;
    }
}

.home-link, .nav-link {
    color: #F0F0F0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home-link:hover, .nav-link:hover {
    color: #60D9A0;
}

.nav-button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #60D9A0;
}
