* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 94%);
    /* Flex setup */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


button, .button, input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #60D9A0;
}

.button:disabled {
    background-color: #A0A0A0;
    cursor: not-allowed;
}




.home-link, .nav-link {
    color: #F0F0F0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home-link:hover, .nav-link:hover {
    color: #60D9A0;
}

.pattern-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    min-height: 20vh;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.alive { background-color: #60D9A0; }
.dead { background-color: #A0A0A0; }

.header, .nav, .form-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #404040;
    border-radius: 10px;
}

.pattern-grid > div, .home-container, .form-wrapper {
    background-color: #404040;
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    max-width: 500px;
}


.game-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}


@media (min-width: 768px) {
    .game-grid {
        margin-top: 100px;
    }
}


